* {
  
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
  }

header{
  background-color:salmon;
}
body{
   background-color: rgb(53, 51, 51);
  /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b7/Flyer_trolleybuses_on_the_Granville_Mall_in_2019%282%29.jpg); */
}

  /* img {
    display: block;
    width: 150px;
    float: left;
    height: 150px;
    border: 2px solid lightblue;
  }*/
  /* #image-container {
    display: inline;
    margin-right: 50px;
    width: 200px;
    
    height: 175px;
  }  */

   #leftImg,
  #rightImg,
  #middleImg
  {
    width: 200px;
    height: 170px;
    margin-right: 100px;
    margin-bottom: 50px;
    align-content: center;
    border: 3px solid salmon;
     
  }
  
  span {
    margin-left: 50px;
  }
  #attempts {
    margin-left: 20px;
    font-size: 30px;
  }

  ul{
    color:salmon;
   
    
    
  }
  p{
    font-size: 30px;
    text-align: center;
    background-color: salmon;
  }

  